{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 90,
	"trailingComma": "all",
	"singleQuote": false,
	"semi": false,
	"overrides": [
		{
			"files": "**/*.md",
			"options": {
				"semi": true
			}
		}
	]
}
